{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign in - GoCode</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
        <div class="container">
            <img class="logo-under-form" src="{% static 'logos/GoCode_logo_black.svg' %}" alt="" style="width: 120px; height: 120px">
            <form method="post" action="{% url 'accounts:change_email'%}">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="error-message">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <input placeholder="Password" type="password" id="password" name="password" required>
                    {% if form.password.errors %}
                        <div class="error-message">{{ form.password.errors.0 }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <input placeholder="New email" type="text" id="new_email" name="new_email" required>
                    {% if form.new_password.errors %}
                        <div class="error-message">{{ form.new_password.errors.0 }}</div>
                    {% endif %}
                </div>

                <button type="submit" class="btn" style="font-size: 12px">Change password</button>
            </form>
            <p>don't remember password? <a href="#">reset password</a></p>
        </div>
    </body>
</html>
